<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rssreader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rssreader.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.rssreader.FeedItemListActivity"
            android:label="@string/title_feeditem_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rssreader.FeedItemDetailActivity"
            android:label="@string/title_feeditem_detail"
            android:parentActivityName=".FeedItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FeedItemListActivity" />
        </activity>
        <activity
            android:name="com.rssreader.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop" >           
        </activity>
        <activity
            android:name="com.rssreader.SettingsFeedListActivity"
            android:label="@string/title_activity_settings_feed_list"
            android:parentActivityName="com.rssreader.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rssreader.SettingsActivity" />
        </activity>
        <activity
            android:name="com.rssreader.SettingsSingleFeedActivity"
            android:label="@string/title_activity_settings_new_feed"
            android:parentActivityName="com.rssreader.SettingsFeedListActivity"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rssreader.SettingsFeedListActivity" />
        </activity>
    </application>

</manifest>
